{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<header class="bg-white">
			<nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
			  <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
				<a href="#">
					<span class="sr-only">Pluvo</span>
					<img class="h-10 w-auto" src="{% static '/images/pluvo-logo-zwart.svg' %}" alt="">
				  </a>
				<div class="flex items-center">
				  <div class="ml-10 hidden space-x-8 lg:block">
					<a href="#" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Dashboard</a>
				  </div>
				</div>
				<div class="ml-10 space-x-4">
				  <a href="{% url 'main:logout' %}" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium font-sans font-bold text-white bg-pluvo_green hover:bg-pluvo_highlight_green">Logout</a>
				</div>
			  </div>
			  <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
				<a href="#" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Dashboard</a>
			  </div>
			</nav>
		  </header>
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				{% block body %}
    			{% endblock %}
			</section>
		</div>
	</body>
</html>
