{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <title>Pluvo</title>
</head>

<body>
    <header>
        <nav class="container-fluid">
            <a class="nav-link" href="#"><img src="{% static '/images/pluvo-logo-zwart.svg' %}" class="mt-1" alt="Pluvo" style="width:50px;"></a>
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <script src="{% static 'main/script.js' %}"></script>
</body>
</html>