{% extends "base.html" %}
{% load static %}

{% block header %}
<header class="bg-white">
    <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
      <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
        <a href="{% url 'main:dashboard' %}">
            <span class="sr-only">Pluvo</span>
            <img class="h-10 w-auto" src="{% static '/images/pluvo-logo-zwart.svg' %}" alt="">
          </a>
        <div class="flex items-center">
          <div class="ml-10 hidden space-x-8 lg:block">
            <a href="{% url 'main:dashboard' %}" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Dashboard</a>
            {% if user.is_superuser %}
                <a href="{% url 'main:teacher' %}" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Teacher</a>
            {% endif %}
          </div>
        </div>
        <div class="ml-10 space-x-4">
          <a href="{% url 'main:logout' %}" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium font-sans font-bold text-white bg-pluvo_green hover:bg-pluvo_highlight_green">Logout</a>
        </div>
      </div>
      <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
        <a href="{% url 'main:dashboard' %}" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Dashboard</a>
        {% if user.is_superuser %}
            <a href="{% url 'main:teacher' %}" class="text-base font-medium text-pluvo_green hover:text-pluvo_highlight_green font-sans font-bold">Teacher</a>
        {% endif %}
    </div>
    </nav>
</header>
{% endblock header %}